[submodule "runtime_measurements/feature-model-benchmark"]
	path = runtime_measurements/feature-model-benchmark
	url = https://github.com/SoftVarE-Group/feature-model-benchmark.git
[submodule "FeatureExtraction/external/revisiting_satzilla"]
	path = FeatureExtraction/external/revisiting_satzilla
	url = https://github.com/RSD6170/revisiting_satzilla.git
[submodule "FeatureExtraction/external/SATfeatPy"]
	path = FeatureExtraction/external/SATfeatPy
	url = https://github.com/RSD6170/SATfeatPy.git
[submodule "FeatureExtraction/external/feature-model-batch-analysis"]
	path = FeatureExtraction/external/feature-model-batch-analysis
	url = https://github.com/RSD6170/feature-model-batch-analysis.git
[submodule "FeatureExtraction/external/fm_characterization"]
	path = FeatureExtraction/external/fm_characterization
	url = https://github.com/RSD6170/fm_characterization.git
[submodule "ml_analysis/external/HFMOEA"]
	path = ml_analysis/external/HFMOEA
	url = https://github.com/RSD6170/HFMOEA.git
